dj-database-url==0.4.1
Django==1.9.5
django-cors-headers==1.1.0
django-registration==2.0.4
djangorestframework==3.3.3
factory-boy==2.7.0
fake-factory==0.5.7
ipaddress==1.0.16
pdb==0.1
psycopg2==2.6.1
python-dateutil==2.5.3
python-gnupg==0.3.8
PyYAML==3.11
six==1.10.0
